/*reset*/
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

a {
    color: #777;
}

a:hover {
    color: #777;
    text-decoration: none;
}
/*common*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.cdn_icon{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
}

/*header*/
.cdn_header{
    width:100%;
    background:#27ae60;
    color:#fff;
}
.cdn_header .navbar-default{
    background-color:transparent;
    border-color:transparent;
}
.cdn_header .navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a{
    color:#fff;
}
.cdn_header .navbar-default .navbar-toggle{
    border-color:transparent;
}
.cdn_header .navbar-default .navbar-toggle .icon-bar{
    background-color:#fff;
}
.cdn_header .navbar-brand{
    padding:15px 5px;
    vertical-align:middle;
}
.navbar-brand img{
    display:block;
    width:124px;

}
.cdn_header .content{
    text-align:center;
}
.cdn_header .content h1{
    font-size:56px;
}
@media (max-width:768px) {
    .cdn_header .content h1{
        font-size:36px;
    }
}
.cdn_header .content p:first-of-type{
    font-size:21px;
    font-weight:100;
}