@charset "UTF-8";
* {
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 100px;
}
body {
  overflow-x: hidden;
  background: #f6f6f6;
  color: #333;
  font: 14px/1.5 Microsoft YaHei, tahoma, arial, sans-serif;
}
.w {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid #00A3EF;
}
.hide,
.none {
  display: none;
}
input,
select,
form img,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
input,
textarea {
  resize: none;
  outline: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover,
a:focus {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
  margin-bottom: 0;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.red {
  color: #f00;
}
/*header*/
/*search*/
/*footer*/
