/*适配方案*/
@media (min-width: 320px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 350px) {
  html {
    font-size: 54.6875px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 60px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 62.5px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 66.25px;
  }
}
@media (min-width: 450px) {
  html {
    font-size: 70.3125px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 75px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 84.375px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 100px;
  }
}
#w_myBuy {
  /*banner*/
  /*ad*/
  /*nav*/
  /*头条headline*/
  /*主推广图片*/
  /*新老用户vip*/
  /*九宫图*/
  /*精品推荐*/
}
#w_myBuy #header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  max-width: 6.4rem;
  min-width: 3.2rem;
  position: fixed;
  padding: 8px 15px 8px 10px;
  line-height: 30px;
  z-index: 999;
}
#w_myBuy #header > div {
  width: 100%;
  padding: 0 50px 0 60px;
  height: 100%;
}
#w_myBuy #header > div > input {
  border: none;
  border-radius: 10px;
  width: 100%;
  -webkit-appearance: searchfield;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#w_myBuy #header > a {
  color: #fff;
  height: 30px;
  font-size: 16px;
}
#w_myBuy #banner .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
#w_myBuy #banner .carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0;
  background: #555;
  opacity: .5;
}
#w_myBuy #banner .carousel-indicators > li.active {
  background: #fff;
}
#w_myBuy .ad a {
  display: block;
}
#w_myBuy .ad a > img {
  width: 100%;
}
#w_myBuy #nav {
  height: 2.9rem;
  position: relative;
  margin-bottom: 20px;
}
#w_myBuy #nav > div {
  position: relative;
  overflow: hidden;
  height: 2.9rem;
}
#w_myBuy #nav > div .nav-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
}
#w_myBuy #nav > div .nav-banner > div.item {
  width: 33.333%;
  float: left;
}
#w_myBuy #nav > div .nav-banner > div.item > div.nav {
  width: 20%;
  float: left;
}
#w_myBuy #nav > div .nav-banner > div.item > div.nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#w_myBuy #nav > div .nav-banner > div.item > div.nav img {
  width: 100%;
}
#w_myBuy #nav ol {
  width: 100%;
  position: absolute;
  bottom: -20px;
  height: 20px;
  text-align: center;
  background: #fff;
}
#w_myBuy #nav ol > li {
  width: 11px;
  height: 6px;
  display: inline-block;
  background: url('../image/icon_jingang_normal@2x.png') center / 11px 6px no-repeat;
}
#w_myBuy #nav ol > li.active {
  background: url('../image/icon_jingang_down@2x.png') no-repeat center / 11px 6px;
}
#w_myBuy #headline > div {
  height: 0.75rem;
  overflow: hidden;
  position: relative;
}
#w_myBuy #headline > div > a {
  position: absolute;
  z-index: 5;
  width: 0.13rem;
  height: 0.22rem;
  right: 0.22rem;
  top: 0.25rem;
  background: url('../image/arrow.png') no-repeat center / 0.13rem 0.22rem;
}
#w_myBuy #headline > div > img {
  width: 1.56rem;
  position: absolute;
  left: .22rem;
  top: .21rem;
  z-index: 5;
}
#w_myBuy #headline ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#w_myBuy #headline ul > li {
  line-height: 0.75rem;
  width: 100%;
  height: 0.75rem;
  background: #fff;
  text-align: center;
  font-size: .16rem;
}
#w_myBuy .sale-top a {
  display: block;
  width: 100%;
}
#w_myBuy .sale-top a img {
  width: 100%;
}
#w_myBuy .vip {
  background-origin: border-box;
  background: url('../image/vipbk.jpg') no-repeat center;
  padding: 0.15rem;
}
#w_myBuy .vip > div {
  padding: 0;
}
#w_myBuy .vip > div a {
  display: block;
}
#w_myBuy .vip > div a img {
  width: 100%;
}
#w_myBuy .vip > div:nth-of-type(2) a {
  border-left: 1px solid #f1f1f1;
}
#w_myBuy .vip > div:nth-of-type(2) a:first-child {
  border-bottom: 1px solid #f1f1f1;
}
#w_myBuy .vip > div:nth-of-type(2) a:nth-last-child(-n+2) {
  width: 50%;
  float: left;
}
#w_myBuy #recommend-9 dl {
  margin-bottom: 0;
}
#w_myBuy #recommend-9 dl dd {
  padding: 0;
  border: 1px solid #f1f1f1;
}
#w_myBuy #recommend-9 dl dd a {
  display: block;
  width: 100%;
}
#w_myBuy #recommend-9 dl dd a img {
  width: 100%;
}
#w_myBuy #recommend a {
  display: block;
}
#w_myBuy #recommend a img {
  width: 100%;
}
/*促销 五图*/
.cx > div {
  padding: 0;
  height: 4.26rem;
  overflow: hidden;
}
.cx > div a {
  display: block;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.cx > div a img {
  width: 100%;
  height: 2.13rem;
  display: inline;
  vertical-align: middle;
}
.cx > div:first-child img {
  height: 4.26rem;
}
.cx > div:last-child a {
  border-right: none;
}
